html, i {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
.title {
    font-size: xx-large;
    text-align: center;
    
}
.center {
    text-align: center;
}
a {
    color: black;
    
}
a:hover {
    color: green;
}
.pleft {
    margin: 10px;
}
.btn {
    background-color: #288fef;
    border: none;
    color: white;
    padding: 13px 29px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
}
.btn:hover {
    background-color: #0066ff;
}