@import url("schemes/dark.css") (prefers-color-scheme: dark);
@import url("schemes/light.css") (prefers-color-scheme: light);

@font-face {
    font-family: 'Iosevka';
    src: url(../fonts/Iosevka\ Bold\ Nerd\ Font\ Complete.ttf);
}

body {
    background-color: var(--background);
    color: var(--onBackground);
    font-family: 'Iosevka', sans-serif;
}

.center {
    text-align: center;
}

.prompt-username {
    color: var(--primary);
}

.prompt-hostname {
    color: var(--secondary);
}

.prompt-cwd {
    color: var(--tertiary);
}

.invisible {
    border: none;
    outline: none;
}

a {
    color: var(--primary);
}

.note {
   font-style: italic;
   color: var(--tertiary);
}
