button{

	padding:6px 0 6px 0;
	font-family: 'Source Code Pro', monospace;
	background:#478bf9;
	color:#fff;
	border-radius:2px;
	width:100px;
	border:none;
}
#HSLhref{
    color: black;
}
h1, h2{
    color: darkblue;
   
}
h1:hover, h2:hover{
    color: black;
}
html{
    font-family: 'Source Code Pro', monospace;
    background-color:#B0BDBB ;
}
a{
    color: darkcyan;
}
a:hover{
    color: blue;
}
p, li{
    color: #010101;
}
body{
    padding: 0 20px 20px 20px;
    margin: 0 auto;
}
button{
    border: salmon;
}
/*
{
	padding:6px 0 6px 0;
	font:bold 13px Arial;
	background:#478bf9;
	color:#fff;
	border-radius:2px;
	width:100px;
	border:none;
}
*/